<div class="container-fluid">
	<nav class="navbar fixed " id="headernavbar">
		<div class="row between-xs middle-xs width100">
			<div class="col-xs">
				<a href="{{'home'|page}}" class="navbar-brand" style="background-image: url('{{ this.theme.site_logo.getPath() }}'); background-position: 16px 0; background-size: contain;"></a>
			</div>
			<div class="col-xs end-xs" id="headerNavbarNav">
				<ul class="navbar-nav"></ul>
			</div>

		</div>
	</nav>
</div>

{% if user %}
	<script>$(document).trigger('profile')</script>
	<script>$(document).trigger('signout')</script>
{% else %}
	<script>$(document).trigger('signin')</script>
{% endif %}