url = "/attendees-list/:event_id?|[0-9]"
layout = "default"
title = "Attendees list"

[AttendeesList]

[session]
security = "all"
==

<?php

use Pensoft\Tdwgform\Models\Data;
use RainLab\Location\Models\Country;
use Pensoft\Tdwgform\Models\DiscountOptions;
use Pensoft\Tdwgform\Models\Codes;
use Pensoft\Calendar\Models\Entry;
use Backend\Facades\BackendAuth;
use Carbon\Carbon;
use Maatwebsite\Excel\Facades\Excel;

function onStart(){
	$this['tdwg_id'] = env('TDWG_ID');
	$this['event_id'] = (int)$this->param('event_id');
	$this['event'] = Entry::where('id', (int)$this->param('event_id'))->first();

	$id = (int)$this->param('event_id');
	$data = null;
	$discount = null;
	if($id){
		$completedRegistrations = Data::where('submission_completed', true)->get();
		$data = $completedRegistrations->map(function ($item) {

			$country = Country::where('id', (int)$item->country_id)->first()->toArray();
			$item->country_name = $country['name'];
			$ticket = DiscountOptions::where('id', (int)$item->discount_option_id)->first()->toArray();
			$item->ticket_amaount = $amount = ($item->type == 'virtual') ? $ticket['amount_virtual'] :  $ticket['amount'];
			$item->ticket_type = $ticket['name'];
			$item->ap = $ap = (int)$item->accompanying_person ? 135 : 0;
			$item->help = $help = (int)$item->help_others ? 25 : 0;

			$total = (int)($item->ticket_amaount + $ap + $help);

			$earlyDiscount = 0;
			if( $item->type == 'physical' && (int)$item->discount_option_id == 1 && Carbon::now() <=  env('EARLY_BOOKING_DATE')){
				$earlyDiscount += 50;
			}

			$amount = $amount - $earlyDiscount;

			$codeDiscount = 0;
			if($item->discount_code){
				$codeData = Codes::where('code', $item->discount_code)->first();
				if($codeData){
					if($codeData->type == '%'){
						$codeDiscount += ((int)$codeData->value / 100) * $amount;
					}else{
						$codeDiscount += (int)$codeData->value;
					}
					$amount = $amount - $codeDiscount;
				}else{
					$codeDiscount = 0;
				}
			}

			$item->total = $amount + $ap + $help;
			$item->code_discount = $codeDiscount;
			$item->early_discount = $earlyDiscount;

			return $item;
		});

	}
	if(!$data){
		return \Redirect::to('/'); //TODO
	}
	$this['data'] = $data;
}


public function onExportTDWGAttendees(){
	$attendeeIdsArr = post('attendee_ids');
	$eventId = post('event_id');
	$attendeeIds = implode(',', $attendeeIdsArr);
	$items = [];
	$items[0][0] = 'Attendee ID';


	$collection = new \October\Rain\Support\Collection($items);


	$r = Excel::raw(new AttendeesExport($collection), \Maatwebsite\Excel\Excel::XLSX);
	return response()->json(['data'=>base64_encode($r)]);
}


?>

==
<div class="container">
	{% if event_id != tdwg_id %}
    	{% component 'AttendeesList' %}
	{% else %}

	<h1>{{event.title}}</h1>


	<table>
		<tr>
			<td>Name</td>
			<td>Name tag (first and last names)</td>
			<td>Affiliation, Position</td>
			<td>Email</td>
			<td>Phone</td>
			<td>Address</td>
			<td>Emergency contact</td>
			<td>Comments</td>
			<td>Ticket type</td>
			<td>Member discount code</td>
			<td>Discount</td>
			<td>Accompanying person</td>
			<td>Help others</td>
			<td>Payment</td>
			<td>Twitter</td>
			<td>Email when using Slack or Discord</td>
			<td>I plan to submit an abstract</td>
			<td>I plan to attend the Welcome reception on 16 October 2022</td>
			<td>I plan to attend the excursion to Rila Monastery on Wednesday 19 October 2022</td>
			<td>I plan to attend the conference banquet on Thursday  20 October 2022</td>
			<td>I agree to be contacted by event Supporters post-conference.</td>
			<td>I understand the fee for anyone I add to accompany me covers the welcome reception, excursion to Rila monastery and banquet.</td>
			<td>I'm willing to chair /  moderate a general open session at TDWG2022</td>
			<td>I agree for my name, affiliation, and email to be shared after the conference with other attendees</td>
		</tr>

		{% for item in data %}

		<tr>
			<td>{{item.prefix}} {{item.first_name}} {{item.middle_name}} {{item.last_name}} {{item.suffix}}</td>
			<td>{{item.first_name_tag}}</td>
			<td>{{item.last_name_tag}}{% if item.title %}, {{item.title}} {% endif %}</td>
			<td>{{item.email}}</td>
			<td>{{item.phone}}</td>
			<td>{{item.address|striptags}}
				{% if item.address2 %}, {{item.address2|striptags}} {% endif %}
				{% if item.country_name %}, {{item.country_name}}{% endif %}
				{% if item.city %}, {{item.city}}{% endif %}
				{% if item.region %}, {{item.region}}{% endif %}
				{% if item.postal_code %}, {{item.postal_code}}{% endif %}
			</td>
			<td>{{item.emergency_contact_name}}, {{item.emergency_contact_phone}}</td>
			<td title="{{item.comments|striptags}}">{{ item.comments|length > 100 ? item.comments|slice(0, 100)|striptags ~ '...' : item.comments|raw  }}</td>
			<td>{{item.type}}, {{item.ticket_type}} - {{item.ticket_amaount}} &euro;</td>
			<td>{{item.discount_code}}</td>
			<td>{% if item.early_discount %}Early booking discount: {{item.early_discount}} &euro;{% endif %}
				{% if item.code_discount %}Code discount: {{item.code_discount}} &euro;{% endif %}</td>
			<td>{% if item.accompanying_person %}135 &euro;{% endif %}
				{% if item.accompanying_person_name %}, {{item.accompanying_person_name}}{% endif %}
				{% if item.accompanying_person_has_invoice %}, extra invoice{% endif %}</td>
			<td>{% if item.help_others %} 25 &euro; {% endif %}
				{% if item.help_others_has_invoice %}, extra invoice{% endif %}
			</td>
			<td>
				{{item.total}} &euro;<br>
				{% if item.invoice_email and item.total > 0 %}
				extra invoice
				<p>{{item.invoice_group_members|raw}}</p>
				<p>{{item.billing_details|raw}}</p>
				<p>{{item.invoice_email}}</p>

				{% endif %}</td>
			<td>{{item.twitter}}</td>
			<td>{{item.slack_email}}</td>
			<td>{% if item.checkbox_optional_abstract %} YES {% else %} NO {% endif %}</td>
			<td>{% if item.checkbox_optional_attend_welcome%} YES {% else %} NO {% endif %}</td>
			<td>{% if item.checkbox_optional_attend_excursion%} YES {% else %} NO {% endif %}</td>
			<td>{% if item.checkbox_optional_attend_conference%} YES {% else %} NO {% endif %}</td>
			<td>{% if item.checkbox_optional_contacted%} YES {% else %} NO {% endif %}</td>
			<td>{% if item.checkbox_optional_understand%} YES {% else %} NO {% endif %}</td>
			<td>{% if item.checkbox_optional_open_session%} YES {% else %} NO {% endif %}</td>
			<td>{% if item.checkbox_optional_agree_shared%} YES {% else %} NO {% endif %}</td>
		</tr>
		{% endfor %}




	</table>

	{% endif %}
</div>