url = "/events/:slug?|[a-zA-Z\-0-9]"
layout = "default"
title = "Events"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[calendar]
default = "true"
limit = 10
category = "null"
language = "en"
redirect_to_detailed_page = "false"

[EventsList]

[session]
security = "all"
==
<?php
use Pensoft\Calendar\Models\Entry;
use Backend\Facades\BackendAuth;
use Carbon\Carbon;

function onStart(){

    if($this->param('slug')){
$this['loggedIn'] = !empty(BackendAuth::getUser()) ? true : false;
$this['entry'] =  Entry::select(
'*',
'title',
'place',
'description',
'url',

DB::raw("to_char(\"start\", 'DD') as start_day"),
DB::raw("to_char(\"start\", 'YYYY') as start_year"),
DB::raw("to_char(\"end\", 'DD') as end_day"),
DB::raw("to_char(\"end\", 'YYYY') as end_year"),
DB::raw("to_char(\"start\", 'month') as start_month"),
DB::raw("to_char(\"end\", 'month') as end_month"),
DB::raw("
\"end\" is not null as has_end
")


)->where('slug', $this->param('slug'))->first();
}

$this['slug'] = $this->param('slug');


$this['tdwg_id'] = env('TDWG_ID');

}
?>
==

<div class="container">

	{% if not slug %}
	<h1 class="display-1">Events</h1>
	<div class="row">
		<div class="col-md-12 col-xs-12">
			{% component 'calendar' %}
		</div>

	</div>

	{% endif %}

	{% if entry %}

		{% set userHasAccessFlag = false %}
		{% if user %}
			{% for event in user.events %}
				{% if entry.id == event.id  %}
					{% set userHasAccessFlag = true %}
				{% endif %}
			{% endfor %}
		{% endif %}

	<div class="fr-view row">
		<div class="col-xs-12">
			<h1>{{ entry.title }}</h1>
			<div class="text-published mt-2">
				{{entry.event_date|trim}}{% if entry.online_event %}, <b>Online event</b>
				{% else %}{% if entry.place %}, <b>{{ entry.place }}</b>{% endif %}{% endif %}

			</div>
		</div>
		<div class="col-xs-12">
			<div class="row">
				{% if entry.cover_image %}
					<div class="col-md-4 col-xs-12">
						<img class="mr-2 mb-2 float-right" src="{{entry.cover_image.getThumb(500, auto, {'mode': 'crop'})}}" alt="{{entry.title}}">
					</div>
				{% endif %}
				<div class="col-xs">
					<div class="event-container">
						{{ entry.description|raw }}
					</div>
					<div class="mt-1">
						{% if entry.organizer %}
						Organizer: {{ entry.organizer }}
						{% endif %}

					</div>
					{% if entry.url %}
					<a class="mt-2 button" href="{{ entry.url }}" target="_blank">{{ 'To the event'|_ }}</a>
					{% endif %}

					{% if entry.active %}
						<div class="register mt-2"><a href="{{ 'event-register' | page}}/{{entry.id}}" class="btn btn-primary">Register</a> </div>
					{% endif %}

					<div class="row middle-xs">
						{% if loggedIn or userHasAccessFlag %}<div class="register mt-2 col-xs-2"><a href="{{ 'attendees-list' | page}}/{{entry.id}}" class="btn btn-primary btn-danger">Attendees</a> </div>{% endif %}
						{% if loggedIn and entry.id != tdwg_id %}<div class="register mt-2 col-xs-2"><a href="javascript:void(0);"
															   data-request="EventsList::onDuplicateEvent"
															   data-request-confirm="Do you wanna duplicate this event?"
															   data-request-data="event_id: {{entry.id}}"
															   class="btn btn-primary btn-info">Duplicate</a></div>{% endif %}
					</div>

				</div>
			</div>
		</div>
	</div>

	{% else %}
	{% endif %}

</div>