title = "Registration success"
layout = "default"
url = "/registration-success"

[TDWGForm TDWGForm]
==
<?php

	function onStart(){
		if($this['link']){
			header('Refresh: 10; URL='.$this['link']);
		}
	}
	
?>
==
<div class="container-fluid homepage-jumbotron-background">
	<div class="container registration-preview">

		{% if message != '' %}

		<div class="flash-message static success">
			{{ message | raw }}
		</div>

		{% if payment_message %}
		<div class="flash-message static success">
			{{ payment_message | raw }}
		</div>
		{% endif %}

		{% endif %}

		<div class="spinner_success">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>
</div>