title = "Registration preview"
layout = "default"
url = "/registration-preview/:registration_id?|[a-zA-Z\-0-9]"

[TDWGForm TDWGForm]
==
<?php
use Pensoft\Tdwgform\Models\Data;
use RainLab\Location\Models\Country;
use Pensoft\Tdwgform\Models\DiscountOptions;
use Pensoft\Tdwgform\Models\Codes;

use Carbon\Carbon;
use Ramsey\Uuid\Uuid;

function onStart()
{
	$id = $this->param('registration_id');
	$this['registration_id'] = $id;
	$data = null;
	$discount = null;
	$data = Data::where('data_id', $id)->whereRaw('submission_completed IS NOT TRUE')->first();
	if(!$data){
		return \Redirect::to('/');
	}
	if($data){
		$country = Country::where('id', (int)$data->country_id)->first()->toArray();
		$this['country_name'] = $country['name'];
		$ticket = DiscountOptions::where('id', (int)$data->discount_option_id)->first()->toArray();
		$this['ticket_amaount'] = $amount = ($data->type == 'virtual') ? $ticket['amount_virtual'] :  $ticket['amount'];
		$this['ticket_type'] = $ticket['name'];
		$ap = (int)$data->accompanying_person ? 135 : 0;
		$help = (int)$data->help_others ? 25 : 0;

		$earlyDiscount = 0;
		if( $data->type == 'physical' && (int)$data->discount_option_id == 1 && Carbon::now() <=  env('EARLY_BOOKING_DATE')){
			$this['early_msg'] = 'Early Registration Discount is applied';
			$this['code_msg'] = 'Membership Discount Code is applied';
			$earlyDiscount += 50;
		}

		$amount = $amount - $earlyDiscount;

		$codeDiscount = 0;
		if($data->discount_code){
			$codeData = Codes::where('code', $data->discount_code)->where('is_used', false)->first();
			if($codeData){
				if($codeData->type == '%'){
					$codeDiscount += ((int)$codeData->value / 100) * $amount;
				}else{
					$codeDiscount += (int)$codeData->value;
				}
				$amount = $amount - $codeDiscount;
			}else{
				$codeDiscount = 0;
			}
		}

		$this['total'] = $amount + $ap + $help;
		$this['code_discount'] = $codeDiscount;
		$this['early_discount'] = $earlyDiscount;
	}


	$this['formData'] = $data;
	$this['registration_id'] = $this->param('registration_id');
	$this['tdwg_id'] = env('TDWG_ID');
}

?>
==
<div class="container-fluid homepage-jumbotron-background">
	<div class="container registration-preview">
		<div class="spinner" id="loading_gif">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
		{% if formData %}

		<h1>Registration form data preview</h1>
		<h3>Please check your details before proceeding to payment or finish your registration.</h3>
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<b>Registration request:</b>
				<span class="text-ligth">{{formData.type}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<b>Name:</b>
					<span class="text-ligth">{{formData.prefix}} {{formData.first_name}} {{formData.middle_name}} {{formData.last_name}} {{formData.suffix}}</span>
				</div>
			</div>
			{% if formData.first_name_tag %}
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<b>Name tag (first and last names):</b>
					<span class="text-light">{{formData.first_name_tag}}</span>
				</div>

			</div>
			{% endif %}

			{% if formData.last_name_tag or formData.title %}
			<div class="row">
				{% if formData.last_name_tag %}
				<div class="col-md-6 col-xs-12">
					<b>Affiliation:</b>
					<span class="text-light">{{formData.last_name_tag}}</span>
				</div>
				{% endif %}
				{% if formData.title %}
				<div class="col-md-6 col-xs-12">
					<b>Position:</b>
					<span class="text-light">{{formData.title}}</span>
				</div>
				{% endif %}
			</div>
			{% endif %}
			<div class="row">
				<div class="col-md-4 col-xs-12">
					<b>Email:</b>
					<span class="text-light">{{formData.email}}</span>
				</div>
				{% if formData.phone %}
				<div class="col-md-4 col-xs-12">
					<b>Phone:</b>
					<span class="text-light">{{formData.phone}}</span>
				</div>
				{% endif %}
			</div>
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<b>Address line 1:</b>
					<span class="text-light">{{formData.address|striptags}}</span>
				</div>
				{% if formData.address2 %}
				<div class="col-md-6 col-xs-12">
					<b>Address line 2:</b>
					<span class="text-light">{{formData.address2|striptags}}</span>
				</div>
				{% endif %}
			</div>
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<b>Country:</b>
					<span class="text-light">{{country_name}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-xs-12">
					<b>City:</b>
					<span class="text-light">{{formData.city}}</span>
				</div>
				{% if formData.region %}
				<div class="col-md-4 col-xs-12">
					<b>State / Province / Region:</b>
					<span class="text-light">{{formData.region}}</span>
				</div>
				{% endif %}
				<div class="col-md-4 col-xs-12">
					<b>Zip / Postal Code:</b>
					<span class="text-light">{{formData.postal_code}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<b>Emergency contact name:</b>
					<span class="text-light">{{formData.emergency_contact_name}}</span>
				</div>
				<div class="col-md-6 col-xs-12">
			
					<b>Emergency contact phone:</b>
					<span class="text-light">{{formData.emergency_contact_phone}}</span>
				</div>
			</div>
			{% if formData.twitter or formData.slack_email %}
			<div class="row">
				{% if formData.slack_email %}
				<div class="col-md-6 col-xs-12">
					<b>Preferred email when using Slack or Discord:</b>
					<span class="text-light">{{formData.slack_email}}</span>
				</div>
				{% endif %}
				{% if formData.twitter %}
				<div class="col-md-6 col-xs-12">
					<b>My Twitter handle:</b>
					<span class="text-light">{{formData.twitter}}</span>
				</div>
				{% endif %}
			</div>
			{% endif %}

			{% if formData.comments %}
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<b>Comments:</b>
					<span class="text-light">{{formData.comments|raw}}</span>
				</div>
			</div>
			{% endif %}
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<b>Ticket type:</b>
					<span class="text-light">{{ticket_type}}, {{ticket_amaount}} &euro;</span>
					{% if early_discount %}
					<br />
					<em>{{early_msg}}</em>:
					<span class="text-light">-{{early_discount}} &euro;</span>
					{% endif %}
				</div>
				{% if formData.discount_code %}
				<div class="col-md-6 col-xs-12">
					<b>Member discount code:</b>
					<span class="text-light">{{formData.discount_code}}</span>
					{% if code_discount %}
					<br />
					<em>{{code_msg}}</em>:
					<span class="text-light">-{{code_discount}} &euro;</span>
					{% endif %}
				</div>
				{% endif %}
			</div>

			{% if formData.accompanying_person %}
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<b>Accompanying person:</b>
					<span class="text-light">{% if formData.accompanying_person_name %}{{formData.accompanying_person_name}}, {% else %}Yes, {% endif %} 135 &euro;</span>
				</div>
			</div>
		   	{% endif %}
			{% if formData.accompanying_person_has_invoice %}
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<b>I want an extra invoice for the accompanying person:</b>
					<span class="text-light">Yes</span>
				</div>
			</div>
			{% endif %}
			{% if formData.help_others %}
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<b>I want to donate funds for those who need support for registration.:</b>
					<span class="text-light">Yes,  25 &euro;</span>
				</div>
			</div>
			{% endif %}
			{% if formData.help_others_has_invoice %}
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<b>I want an extra invoice for the donation funds:</b>
					<span class="text-light">Yes</span>
				</div>
			</div>
			{% endif %}


			{% if total %}
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<b>Total amount:</b>
					<span class="text-light">{{total}} &euro;</span>
				</div>
			</div>
			{% endif %}

			{% if formData.invoice_email and total > 0 %}
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<b>Payment:</b>
					<span class="text-light">I need a group invoice or extra invoice, payment due on receipt by Bank card, PayPal</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<b>List of people who will register and should be added to the same invoice:</b>
					<span class="text-light">{{formData.invoice_group_members|raw}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<b>Billing details (company name, VAT number, address, country):</b>
					<span class="text-light">{{formData.billing_details|raw}}</span>
				</div>
			</div>
			<div class="row">
					<div class="col-md-12 col-xs-12">
						<b>Send invoice to the following email:</b>
						<span class="text-light">{{formData.invoice_email}}</span>
					</div>
				</div>
			{% endif %}

			<p>&nbsp;</p>
			<ul>
				{% if formData.checkbox_code_of_conduct %}
					<li>I have read the <a href="https://www.tdwg.org/about/code-of-conduct/" target="_blank">Code of Conduct</a> and <a href="https://www.tdwg.org/about/terms-of-use/" target="_blank">Terms of Use</a> and agree to abide by them.</li>
				{% endif %}
				{% if formData.checkbox_presenting %}
					<li>If I am presenting or participating in the conference, I understand the meetings and presentations will be recorded and posted at a future date on the public TDWG YouTube channel.</li>
				{% endif %}
				{% if formData.checkbox_agree %}
					<li>I agree to be contacted by event organizers.</li>
				{% endif %}
				{% if formData.checkbox_media %}
					<li>For any presentation I submit, I am responsible for ensuring all images and media are properly licensed / credited or <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0</a>. (see <a href="https://www.tdwg.org/about/terms-of-use/" target="_blank">Terms of Use</a>)</li>
				{% endif %}
				{% if formData.checkbox_received %}
					<li>I have received and understood the <a href="https://pensoft.net/terms" target="_blank">privacy information</a> and have thus been informed about my rights as a data subject. I will not deduce any rights from this consent (e.g. a fee). I can withdraw my consent at any time.</li>
				{% endif %}
				{% if formData.checkbox_declare %}
					<li>I hereby declare that I freely give my explicit consent, that the data collected about me during the registration will be passed to TDWG and Pensoft Publishers for the purpose of organizing the conference.</li>
				{% endif %}
				{% if formData.checkbox_optional_abstract %}
					<li>I plan to submit an abstract.</li>
				{% endif %}
				{% if formData.checkbox_optional_attend_welcome %}
					<li>I plan to attend the Welcome reception on 16 October 2022 (included in the in-person registration fee).</li>
				{% endif %}
				{% if formData.checkbox_optional_attend_excursion %}
					<li>I plan to attend the excursion to Rila Monastery on Wednesday 19 October 2022 (included in the in-person registration fee).</li>
				{% endif %}
				{% if formData.checkbox_optional_attend_conference %}
					<li>I plan to attend the conference banquet on Thursday  20 October 2022 (included in the in-person registration fee).</li>
				{% endif %}
				{% if formData.checkbox_optional_contacted %}
					<li>I agree to be contacted by event Supporters post-conference.</li>
				{% endif %}
				{% if formData.checkbox_optional_understand %}
					<li>I understand the fee for anyone I add to accompany me covers the welcome reception, excursion to Rila monastery and banquet.</li>
				{% endif %}
				{% if formData.checkbox_optional_open_session %}
					<li>I'm willing to chair /  moderate a general open session at TDWG2022</li>
				{% endif %}
				{% if formData.checkbox_optional_agree_shared %}
					<li>I agree for my name, affiliation, and email to be shared after the conference with other attendees</li>
				{% endif %}
			</ul>



			<p>&nbsp;</p>



			
			<div class="row center-xs">
				<div class="col-xs-12 col-md-6">
					<a href="/event-register/{{tdwg_id}}/{{registration_id}}" class="btn btn-primary">Back</a>
						&nbsp;
					{% if total > 0 %}
						{% if formData.invoice_email %}
							<a href="javascript:void(0);" onclick="proccedToPayment({{formData.id}});" class="btn btn-primary">Finish registration</a>
						{% else %}
							<a href="javascript:void(0);" onclick="proccedToPayment({{formData.id}});" class="btn btn-primary">Proceed to payment</a>
						{% endif %}
					{% else %}
						<a href="javascript:void(0);" onclick="finishRegistration({{formData.id}});" class="btn btn-primary">Finish registration</a>
					{% endif %}
				</div>
			</div>

		{% else %}

			{% if message != '' %}

			<div class="flash-message static success">
				{{ message | raw }}
			</div>

				{% if payment_message %}
				<div class="flash-message static success">
					{{ payment_message | raw }}
				</div>
				{% endif %}

			{% endif %}

		{% endif %}


	</div>

</div>