.ui.form {
    margin-top: 2rem;
    .field + .field {
        margin-top: 2rem;
    }

    .field {
        //display: flex;
        //flex-direction: column;
        width: 100%;
        &.inline {
            flex-direction: row;
            width: auto;
            input, textarea {
                width: auto;
            }
        }
        & > label {
            display: block;
            margin: 0 0 .3rem 0;
        }
        & > input, textarea, select {
          display: block;
          width: 100%;
          font-size: 18px;
          color: #1b282e;
          background-color: #ffffff;
          box-sizing: border-box;
          padding: .7rem 1rem;
          line-height: 1.7em;
          border-radius: 5px 5px 5px 5px;
          -moz-border-radius: 5px 5px 5px 5px;
          -webkit-border-radius: 5px 5px 5px 5px;
          border: 0px solid #dddddd;
          border-right-width: 15px;
          border-right-color: white;
          box-shadow: 0 0 0 1px #dddddd;

            &:focus {
                outline: none;
            }
        }
      p{
        display: inline-flex;
        margin-bottom: 10px!important;
      }
      input[type=checkbox]{
        margin: 0 10px 0 0;
      }

    }

  .btn-primary{
    padding: 10px 20px;
    margin-top: 30px;
  }
    
}
