.ui.form {
    margin-top: 2rem;
    .field + .field {
        margin-top: 2rem;
    }

    .form-group + .form-group {
        margin-top: 2rem;
    }

    .form-control{
      height: unset!important;
    }

    .field select{
      padding: 1rem 1rem .9rem 1rem!important;
    }

    .field, .form-group {
        //display: flex;
        //flex-direction: column;
        width: 100%;
        &.inline {
            flex-direction: row;
            width: auto;
            input, textarea {
                width: auto;
            }
        }
        & > label {
            display: block;
            margin: 0 0 .3rem 0;
        }
        & > input, textarea, select {
          display: block;
          width: 100%;
          font-size: 18px;
          color: #1b282e;
          background-color: #ffffff;
          box-sizing: border-box;
          padding: .7rem 1rem;
          line-height: 1.7em;
          border-radius: 5px 5px 5px 5px;
          -moz-border-radius: 5px 5px 5px 5px;
          -webkit-border-radius: 5px 5px 5px 5px;
          border: 0px solid #dddddd;
          border-right-width: 15px;
          border-right-color: white;
          box-shadow: 0 0 0 1px #dddddd;

            &:focus {
                outline: none;
            }
        }
      p{
        display: inline;
        margin-bottom: 10px!important;
      }
      input[type=checkbox]{
        margin: 0 10px 0 0;
      }

    }

  .btn-primary{
    padding: 10px 20px;
    margin-top: 30px;
  }
    
}

#tdwg{
  .red{
    border: 1px solid red!important;
  }
  .field:first-of-type{
    margin-top: 2rem;
  }

  .row .col-xs-12, .row .col-xs-11, .row .col-xs-10, .row .col-xs-9, .row .col-xs-8, .row .col-xs-7, .row .col-xs-6, .row .col-xs-5, .row .col-xs-4, .row .col-xs-3, .row .col-xs-2, .row .col-xs-1{

    margin-left: unset!important;
    margin-right: unset!important;
    padding-left: 0.5rem!important;
    padding-right: 0.5rem!important;
  }

  .ui.form .field select{
    padding: 0.7rem 1rem;
    line-height: 2em!important;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #74be45;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #74be45;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .ticket_type_message{
    color: #74be45;
  }

  .discount_code_success_message{
    color: #74be45;
  }

  .discount_code_err_message{
    color: red;
  }

  input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid #cccccc;
    background-color: #e7e6e7;
    border-radius: 50%;
    float: left;
    margin:  0 10px 0 0;
  }

  /* appearance for checked radiobutton */
  input[type="radio"]:checked {
    background-color: #74be45;
  }
  /* appearance for checked radiobutton */
  input[type="radio"]:disabled {
    background-color: #e7e6e7;
    opacity: 0.3;
  }

  label{
    line-height: 30px;
  }




  .custom_check {
    margin-top: 2rem;

    .field {
      margin-top: 1rem;
    }
    input[type="checkbox"] {
      /* Add if not using autoprefixer */
      -webkit-appearance: none;
      /* Remove most all native input styles */
      appearance: none;
      /* For iOS < 15 */
      background-color: white;
      /* Not removed via appearance */
      margin: 0;

      font: inherit;
      color: #e7e6e7;
      width: 25px;
      height: 25px;
      border: 2px solid #cccccc;
      border-radius: 0.15em;
      transform: translateY(-0.075em);

      display: grid;
      place-content: center;
      float: left;
      margin:  4px 10px 10px 0;
    }

    input[type="checkbox"]::before {
      content: "";
      width: 0.9em;
      height: 0.9em;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em #74be45;
      /* Windows High Contrast Mode */
      background-color: #74be45;
    }

    input[type="checkbox"]:checked::before {
      transform: scale(1);
    }

  }

}



.spinner {
  margin: 0 auto;
  padding: 40vh 0 0 0;
  height: 100vh;
  //width: 70px;
  text-align: center;
  display: block;
  position: fixed;
  background-color:rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}

.spinner > div {
  width: 30px;
  height: 30px;
  background-color: #74be45;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}